arabic-reshaper==3.0.0
beautifulsoup4==4.11.2
bs4==0.0.1
certifi==2022.12.7
charset-normalizer==3.0.1
colorama==0.4.6
getmac==0.9.2
idna==3.4
markdown-it-py==2.1.0
mdurl==0.1.2
N4Tools==1.7.1
pyfiglet==0.8.post1
Pygments==2.14.0
pyTelegramBotAPI==4.10.0
python-bidi==0.4.2
python-nmap==0.7.1
requests==2.28.2
rich==13.3.1
six==1.16.0
soupsieve==2.4
stdiomask==0.0.6
telebot==0.0.5
urllib3==1.26.14
